@font-face {
  font-family: 'Arabic';
  src: url('./fonts/Arabic.ttf');
}
@font-face {
  font-family: 'Felici';
  src: url('./fonts/Felici.ttf');
}
@font-face {
  font-family: 'Quran';
  src: url('./fonts/quran.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
